
.main-canvas {
  background-color: #FFF;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(0, 0, 0) 2px 2px 10px, rgb(200, 200, 200) -2px -2px 10px;
  border: none;
  z-index: -1;
  border-radius: 10px;
}
