
body {
  /* background: url("https://img4.goodfon.com/wallpaper/nbig/a/80/background-rainbow-colorful-colors-splash-bright-painting--1.jpg") no-repeat center center fixed; */
  /* background: url("https://www.10wallpaper.com/wallpaper/1366x768/1701/Multicolor_Gaussian_Blur_Gradient-Vector_Design_HD_Wallpaper_1366x768.jpg") no-repeat center center fixed; */
  background: url("https://www.10wallpaper.com/wallpaper/1366x768/1612/Abstract_Gaussian_Blur_Gradient-2016_Vector_Design_HD_Wallpaper_1366x768.jpg") no-repeat center center fixed;
  background-size: cover;
}

.resize-container {
  display: inline-flex;
  position: absolute;
  top: 94%;
  left: 94%;
  transform: translate(-50%, 0);
}

.lg-btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.md-btn {

}

.sm-btn {

}

.mb-btn {
  border: none;
  outline: none;
  background-color: transparent;
}

svg {
  fill: rgba(0, 0, 0, 0.7);
}

svg:hover {
  fill: #04b;
}

.component-name {
  position: absolute;
  left: 50%;
  top: 48px;
  transform: translate(-50%, 0);
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: #FFF;
  text-align: center;
  font-size: 20pt;
}

.pencil-icon {
  filter: invert(100%);
  width: 36px;
}
